<%= render "shared/title", title: "About" %>

<div class="row">
  <div class="col-12">
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis convallis
      lectus sed cursus condimentum. In a turpis metus. Aliquam erat volutpat.
      Proin gravida blandit nisl quis vulputate. Pellentesque id dignissim tortor.
      Vestibulum quis magna eget urna convallis bibendum. Nunc viverra tempor mi,
      a commodo orci egestas nec. In hac habitasse platea dictumst. Donec mollis
      orci sed interdum tempus.
    </p>
  </div>
  <div class="col-12">
    <p>
      Duis ultricies urna vel ex feugiat scelerisque. Ut a felis eu purus semper
       pulvinar. Aenean at vulputate mauris. Sed lacinia dolor vitae justo bibendum
       interdum. Mauris vel leo arcu. Ut eget hendrerit libero. Quisque vehicula,
       quam vitae gravida aliquam, enim diam egestas tellus, ut aliquet quam purus
        ornare augue. Aliquam erat volutpat. Maecenas vitae laoreet tellus.
      </p>
  </div>
  <div class="col-12">
    <p>
      Morbi vitae mi nibh. In at erat quis augue egestas efficitur a vitae urna.
       Sed ullamcorper tristique interdum. Nullam feugiat felis quis elementum
       fringilla. Nam porta sagittis scelerisque. Aenean eros arcu, pulvinar vitae
       dui id, aliquam feugiat arcu. Ut vitae rhoncus lectus, vitae maximus mauris.
       Praesent justo eros, tincidunt nec nibh eu, gravida vehicula ligula. Sed at
       eleifend urna. Ut nisi mauris, facilisis vel blandit nec, convallis ac leo.
       Aliquam mollis dui dui, non sodales nunc vehicula vitae. Sed euismod sapien
       eget lacus semper posuere.
     </p>
  </div>
  <div class="col-12">
    <p>
      Cras ut nibh eget eros venenatis sagittis ac sed massa. Ut tempor rutrum
      massa, sit amet blandit lectus pulvinar sed. Etiam in arcu dolor. Donec
      elementum odio tincidunt lorem ultrices mattis. Morbi auctor, quam eu placerat
       maximus, metus urna tempus eros, eleifend dictum dui mi nec mauris. Nulla
       id nisi vehicula, blandit enim in, venenatis augue. Maecenas in faucibus
       sapien.
     </p>
  </div>
  <div class="col-12">
    <p>
      Suspendisse potenti. Nullam molestie cursus sagittis. Aenean et velit id
      diam condimentum sodales vel eu felis. Aliquam dignissim magna nisl, ut
      volutpat libero malesuada sit amet. Curabitur eu eros vitae odio eleifend
      semper non sit amet lacus. Sed id turpis interdum magna porttitor facilisis
      at id ipsum. Phasellus ac pretium lacus, at porttitor lectus. Sed porta
      feugiat elit et posuere. In pharetra lectus vel aliquam viverra. Donec in
      odio id erat commodo laoreet id eu turpis. Vestibulum tempus iaculis tempor.
      Etiam tincidunt condimentum molestie.
    </p>
  </div>
</div>

<div class="row">
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item">
        <b><a href="#">Alpha Blog</a></b>
      </li>
      <li class="breadcrumb-item"><b><%= link_to "Home", root_path %></b></li>
    </ol>
  </nav>
</div>
