<div class="jumbotron center">
  <h1 class="display-3 space">My Recipes</h1>
  <p>Community designed for creation and share of recipes.</p>
  <a class="btn btn-primary btn-lg" href="#">Sign up now</a>
</div>

<div class="row">
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item">
        <b><a href="#">My Recipes</a></b>
      </li>
      <li class="breadcrumb-item"><b><%= link_to "About", about_path %></b></li>
    </ol>
  </nav>
</div>
